ignore/
client/build/
manager/build/
client/src/config.js
manager/src/config.js
.DS_Store
.DS_Store?
manager/node_modules/.cache/
client/node_modules/.cache/
client/public/images/menu/
client/public/images/category/
