#aboutContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;

}
#aboutRightSide{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.hourRows{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.hourRows > div {
  width: 50px;
  text-align: center;
}
