.cartItemContainer{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    margin: 2%;
}
.cartItemTop{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.cartDelete{
    color:red;
    user-select: none;
}
.cartItemBottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}
.cartItemPlusMinus{
    width:70px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartItemName{
    font-size: 20px;
    font-weight: 500;
}