#categoriesRouteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 872px;
    height: 528px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.categoriesImageContainer {
    position: relative;
    cursor: pointer;
}

.categoriesImageContainer > img {
    max-width: 100%;
    width: 200px;
    max-height: 200px;
    margin: auto;
    display: block;
    /* opacity: 0.8; */
}

.categoriesBoxContainer {
    /* height: 50%; */
    width: 80%;
    top: 25%;
    left: 10%;
    color: #333333;
    background-color: #f7f7f7;
    /* border: 3px solid black; */
    font-size: large;
    font-weight: 400;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    cursor: pointer;
}

/* under 1000px width*/
@media only screen and (max-width: 750px) {
    #categoriesRouteContainer {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        grid-gap: 10px;
        height: auto;
    }
}
