#confirmationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    text-align: center;
}

#thankMessage {
    font-size: 25px;
    padding: 15px;
}

#confirmationTable {
    width: 50%;
    text-align: left;
    margin: 15px;
    border-spacing: 0;
}
#tableHeader {
    background-color: #dcdcdc;
}
#emailSpan {
    font-weight: 600;
}

#confirmationTable > tr > th,
#confirmationTable > tr > td {
    padding: 15px;
}

#confirmationTable > tr > td {
    border-top: 1px solid #dcdcdc;
}

#summaryContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#confirmationMidContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}
#locationHolder {
    display: flex;
    flex-direction: column;
}
#confirmationBottomContainer {
    width: 50%;
    margin: 15px auto;
}

@media only screen and (max-width: 750px) {
    #confirmationTable {
        width: 90%;
    }
    #summaryContainer {
        width: 90%;
    }
    #confirmationMidContainer {
        width: 90%;
    }

    #confirmationBottomContainer {
        width: 90%;
    }
}
