#footerContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 5vh;
    padding: 0 20px;
    color:gray;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #eeeeee;
}

#footerSocialContainer{
    display:flex;
    flex-direction: row;

}