/* body {
    font-family: "Quicksand", sans-serif;
} */
#navigationContainer {
    /* min-height: 25vh; */
    height: 25vh;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center center;
}
#navigationToHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    z-index: 2;
}
#navigationLogo {
    /* font-family: Arial, Helvetica, sans-serif; */
    position: relative;
    width: 150px;
    height: 120px;
}
#cartIcon {
    position: absolute;
    right: 2%;
    top: 2%;
}
#navigationLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* min-width: 70vw; */
    width: 434px;
    z-index: 2;
}

#navigationLinks a {
    /* color: gray; */
    color: white;
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    text-decoration: none;
    height: 20px;
    /* border-bottom: 0px solid white;*/
    transition: text-decoration ease-in 1s;
}

#navigationLinks a:hover {
    /* color: black; */
    /* border-bottom: 1px solid white;
    border-width: 1px; */
    text-decoration: underline;
    text-underline-position: under;
}

/* under 750px width*/
@media only screen and (max-width: 750px) {
    #navigationContainer {
        flex-direction: column;
    }
    #navigationLinks {
        width: 75vw;
    }
}
